/backend/__pycache__/*.pyc
/certs/dhparam.pem
/nginx/conf.d/default.conf
/backend/alembic/versions/__pycache__/*.pyc
/backend/models/__pycache__/*.pyc
/backend/alembic/__pycache__/*.pyc
/secrets/db_password.txt
/backend/blueprints/__pycache__/*.pyc
/backend/repos/__pycache__/*.pyc
/backend/helpers/__pycache__/*.pyc
/backend/background_tasks/__pycache__/*.pyc
/.env
/.env.prod
/backend/constants/__pycache__/*.pyc
